*{
    padding:0%;
    margin:0%;
    background-color: black;
   
}#one{
    display: inline-block;
    text-align: center;
    margin-left:40%;
    margin-top: 17%;   
}input{
    background-color: white;
    padding:6px;
    width:250px;
}